<%= render "partial/header" %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">

      <% if request.url.include?("admin") %>
        <h2>管理ユーザー登録</h2>
      <% elsif request.url.include?("user") %>
        <h2>無料ユーザー登録</h2>
      <% elsif request.url.include?("company") %>
        <h2>企業ユーザー登録</h2>
      <% end %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email,class: "form-control",placeholder: "メールアドレス", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password,class: "form-control",placeholder: "パスワード", autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード確認 %><br />
          <%= f.password_field :password_confirmation,class: "form-control",placeholder: "パスワード確認", autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up",class: "btn btn-success" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

