<nav class="navbar navbar-devise">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DIYnavi</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if (!user_signed_in?) %>

          <li><%= link_to "管理(debug)", adminpage_path %></li>
          <% if admin_signed_in? %>
            <li><%= link_to "管理者ログアウト(debug)", destroy_admin_session_path, method: :delete %></li>
          <% end %>

          <li><%= link_to "企業(debug)", companypage_path %></li>
          <% if company_signed_in? %>
            <li><%= link_to "企業ログアウト(debug)", destroy_company_session_path, method: :delete %></li>
          <% end %>

          <li><%= link_to "ログイン",new_user_session_path %></li>
          <li><%= link_to "無料会員登録",new_user_registration_path %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

              <li><%= link_to "記事管理", articles_index_path %></li>
              <li><%= link_to "新規記事作成", articles_new_path %></li>
              <li><%= link_to "プロフィール編集",  edit_user_registration_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
