 <div class="container">
    <% @article.each_with_index do |article,i| %>
      <div class="row bg-success">
        &nbsp;記事項目<%= "#{h(i + 1)}" %><%= link_to "▲", up_article_index_path(:article_id => article.id), method: :patch %><%= link_to "▼", down_article_index_path(:article_id => article.id), method: :patch %><%= link_to "×" ,article_path(:article_id => article.id), method: :delete, data: { confirm: "本当に削除してよろしいですか？",
                                                                 "commit" => "削除する",
                                                                 "cancel" => "やっぱりやめる",
                                                                 }, title: "記事削除の確認" %><br>
      </div>
      <div class="row">
        <!-- 画像が無い記事はテキストのみ表示 -->
        <% if article.article_image_file_name.nil? %>
          <div class="col-sm-12">
            <%= article.content_text %>
          </div>
        <% else %>
          <!-- 画像が有る記事は画像位置を調べる。現在はfalse左配置、true右配置 -->
          <% if article.imageposition == false %>
            <div class="col-sm-2">
              <%= image_tag article.article_image.url(:thumb) %>
            </div>
            <div class="col-sm-10">
              <%= article.content_text %>
            </div>
          <% else %>
            <div class="col-sm-10">
              <%= article.content_text %>
            </div>
            <div class="col-sm-2">
              <%= image_tag article.article_image.url(:thumb) %>
            </div>
          <% end %>
        <% end %>
      </div>
      <br>
      <%= form_for article, html: { multipart: true } do |f| %>
        <%= f.hidden_field :articlemanage_id, value: @articlemanage.id %>
        <%= f.label :記事内容 %><font size="2" color="red">(必須)</font><br>
        <%= f.text_area :content_text, :size=>"60x2" %><br>
        <%= f.label :画像の変更 %>&nbsp;&nbsp;&nbsp;&nbsp;<%= f.check_box :imageposition, { class:"custom-checkbox" } %>チェックボックスをONにすると画像を右寄せにします
        <%= f.file_field :article_image %>

        <% if @articlemanage.permit == true %>
          <%= f.submit "編集を適用する", data: { confirm: "編集を加えると記事の承認が解除されます。よろしいですか？",
                                                                 "commit" => "編集する",
                                                                 "cancel" => "やっぱりやめる",
                                                                 }, title: "承認解除の確認" %>
        <% else %>
          <%= f.submit "編集を適用する" %>
        <% end %>
      <% end %>
    <% end %>

    <div class="row bg-primary">&nbsp;記事を追加する</div>

    <%= form_for @new_article, url: newarticle_path(:articlemanage_id => @articlemanage.id), html: { multipart: true } do |f| %>
        <%= f.hidden_field :articlemanage_id, value: @articlemanage.id %>
        <%= f.label :記事内容 %><font size="2" color="red">(必須)</font><br>
        <%= f.text_area :content_text, :size=>"60x2" %><br>
        <%= f.label :画像の変更 %>&nbsp;&nbsp;&nbsp;&nbsp;<%= f.check_box :imageposition, { class:"custom-checkbox" } %>チェックボックスをONにすると画像を右寄せにします
        <%= f.file_field :article_image %>

        <% if @articlemanage.permit == true %>
          <%= f.submit "記事を追加する", data: { confirm: "編集を加えると記事の承認が解除されます。よろしいですか？",
                                                                 "commit" => "編集する",
                                                                 "cancel" => "やっぱりやめる",
                                                                 }, title: "承認解除の確認" %>
        <% else %>
          <%= f.submit "記事を追加する" %>
        <% end %>
      <% end %>
</div>
</div>

