 <div class="container">
    <div class="row">
      この記事は<%= @writter.name %>さんが<%= @articlemanage.created_at.strftime('%Y年%m月%d日 %H:%M') %>に投稿しました。
    </div>
    <hr>
    <% @article.each_with_index do |article,i| %>
      <div class="row">
        <!-- 画像が無い記事はテキストのみ表示 -->
        <% if article.article_image_file_name.nil? %>
          <div class="col-sm-12">
            <%= article.content_text %>
          </div>
        <% else %>
          <!-- 画像が有る記事は画像位置を調べる。現在はfalse左配置、true右配置 -->
          <% if article.imageposition == false %>
            <div class="col-sm-2">
              <%= image_tag article.article_image.url(:thumb) %>
            </div>
            <div class="col-sm-10">
              <%= article.content_text %>
            </div>
          <% else %>
            <div class="col-sm-10">
              <%= article.content_text %>
            </div>
            <div class="col-sm-2">
              <%= image_tag article.article_image.url(:thumb) %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if article.rule %>
        <hr>
      <% end %>
    <% end %>
</div>

