<div class="container">
  <div class="row">
    <div class="col-sm-2">
      ステータス
    </div>
    <div class="col-sm-2">
      画像
    </div>
    <div class="col-sm-8">
      記事の概要
    </div>
  </div>

  <% @articlemanage.each_with_index do |articlemanage, i| %>
    <div class="row bg-success">
      <%= "#{h(i + 1)}. " %><%= articlemanage.title %><br>
    </div>
    <div class="row">
      <% if articlemanage.permit == false %>
        <div class="col-sm-2 bg-warning">
            <div class="text-left">承認待ち</div>
            <div class="text-center"><%= link_to "記事編集" , edit_articlemanage_path(articlemanage.id) %></div>
            Posted
            <div class="text-right"><%= time_ago_in_words(articlemanage.created_at) %> ago.</div>
            Updated
            <div class="text-right"><%= time_ago_in_words(articlemanage.updated_at) %> ago.</div>
        </div>
      <% else %>
        <div class="col-sm-2 bg-info">
            <div class="text-left">承認済み</div>
            <div class="text-center"><%= link_to "記事編集" , edit_articlemanage_path(articlemanage.id) %></div>
            Posted
            <div class="text-right"><%= time_ago_in_words(articlemanage.created_at) %> ago.</div>
            Updated
            <div class="text-right"><%= time_ago_in_words(articlemanage.updated_at) %> ago.</div>
        </div>
      <% end %>

      <div class="col-sm-2">
      <br>
        <% if articlemanage.thumb_image_file_name.nil? %>
          <%= image_tag 'DIYnavi.png' %>
        <% else %>
          <%= image_tag articlemanage.thumb_image.url(:thumb) %>
        <% end %>
        <br><br>
      </div>
      <div class="col-sm-8　pre-scrollable">
        <%= articlemanage.thumb_text %><br>
      </div>
    </div>
  <% end %>
</div>

