<div class="container">
  承認済みの記事も、編集すると承認待ち状態になりますので注意してください<br><br>
  <div class="row">
    <div class="col-sm-3">
    タイトル・画像
    </div>
    <div class="col-sm-9">
    記事の概要
    </div>
  </div>

  <% @articlemanage.each_with_index do |articlemanage, i| %>
    <div class="row bg-success">
      <%= "#{h(i + 1)}. " %><%= articlemanage.title %><br>
    </div>
    <div class="row">
      <% if articlemanage.permit == false %>
        <div class="col-md-2 text-center bg-warning">
          <br><br>
            <%= link_to "記事編集" , edit_articlemanage_path(articlemanage.id) %>
            <br><br>STATUS:承認待ち
          <br><br>
        </div>
      <% else %>
        <div class="col-md-2 text-center bg-info">
          <br><br>
            <%= link_to "記事編集" , edit_articlemanage_path(articlemanage.id) %>
            <br><br>STATUS:承認済み
          <br><br>
        </div>
      <% end %>

      <div class="col-sm-3">
      <br>
        <% if articlemanage.thumb_image_file_name.nil? %>
          <%= image_tag 'DIYnavi.png' %>
        <% else %>
          <%= image_tag articlemanage.thumb_image.url(:thumb) %>
        <% end %>
        <br><br>
      </div>
      <div class="col-sm-7　pre-scrollable">
        <%= articlemanage.thumb_text %><br>
      </div>
    </div>
  <% end %>
</div>

